<ion-view hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar align-title="center">
	  	<div></div>
		<div class="title anji-theme" >
			<div class="title-wp" style="background-image: url(img/LOG9.jpg);">
				<div class=" logo-left"><img class="fl" src="img/dazhong.svg"/></div>
				<div class="logo-right-wp"><img src="img/LOG9.jpg"/></div>
				<div>
					<div class="bold-title single-line">
                        <span class="pageTitle">
                            <span>移动设备运行状态目视墙</span><br>
                            ( <span class="subPageTitle" ng-bind="selectedCriteria.kuqu.whse_name"></span>
							<span ng-if="!isLine" class="subPageTitle" ng-bind="'-'+selectedCriteria.banzu.description+'-'"></span>
							<span ng-if="!isLine" class="subPageTitle" ng-bind="selectedCriteria.banci.shift_code"></span>)
                        </span>
                    </div>
				</div>
			</div>
		</div>
	  	<div></div>
	</ion-header-bar>
    <ion-content style="bottom: 7em;">
    	<div style="position: relative;">
			<div class="content-wrapper" style=";padding:0;">
				<div style="height: 100%;">
					<div class="kqhz gwrx content-wrapper" style="padding: 1em 0;">
						<table class="cost-wall-table">
							<thead>
							<tr>
								<th>序号</th>
								<th>类型</th>
								<th>序号</th>
								<th>设备号</th>
								<th>状态</th>
								<th>序号</th>
								<th>设备号</th>
								<th>状态</th>
								<th>序号</th>
								<th>设备号</th>
								<th>状态</th>

							</tr>
							</thead>
							<tbody ng-show="loadingStatus!=''">
								<tr class="anji-theme"><td colspan="12" ng-bind="loadingStatus">加载中</td></tr>
							</tbody>
							<tbody ng-repeat="r in rows">
								<!-- 
									rows = [{
							          name: 
							          items: [{
							            operator:,
							            rotate: ,
							            months: [1,0,0,1,1,0,0,1,1,0,0,1]
							          }]
							        }]
								-->
								<tr>
									<td rowspan="{{r.items.length}}" ng-bind="$index+1"></td>
									<td rowspan="{{r.items.length}}" ng-bind="r.name"></td>
									<td ng-bind="1"></td>
									<td ng-bind="r.items[0].CODE"></td>
									<td><span ng-if="r.items[0].STATE" ng-class="{'cst-stop': r.items[0].STATE=='2', 'cst-ready': r.items[0].STATE=='3', 'cst-normal': r.items[0].STATE=='1'}" class="circle"></span></td>
									<td ng-bind="2"></td>
									<td ng-bind="r.items[1].CODE"></td>
									<td><span ng-if="r.items[1].STATE" ng-class="{'cst-stop': r.items[1].STATE=='2', 'cst-ready': r.items[1].STATE=='3', 'cst-normal': r.items[1].STATE=='1'}" class="circle"></span></td>
									<td ng-bind="3"></td>
									<td ng-bind="r.items[2].CODE"></td>
									<td><span ng-if="r.items[2].STATE" ng-class="{'cst-stop': r.items[2].STATE=='2', 'cst-ready': r.items[2].STATE=='3', 'cst-normal': r.items[2].STATE=='1'}" class="circle"></span></td>

								</tr>
								<tr ng-if="$index!=0" ng-repeat="sw in r.splitRows track by $index">
									<td ng-bind="3*$index+1"></td>
									<td ng-bind="r.items[3*$index].CODE"></td>
									<td><span ng-if="r.items[3*$index].STATE" ng-class="{'cst-stop': r.items[3*$index].STATE=='2', 'cst-ready': r.items[3*$index].STATE=='3', 'cst-normal': r.items[3*$index].STATE=='1'}" class="circle"></span></td>

									<td ng-bind="3*$index+2"></td>
									<td ng-bind="r.items[3*$index+1].CODE"></td>
									<td><span ng-if="r.items[3*$index+1].STATE" ng-class="{'cst-stop': r.items[3*$index+1].STATE=='2', 'cst-ready': r.items[3*$index+1].STATE=='3', 'cst-normal': r.items[3*$index+1].STATE=='1'}" class="circle"></span></td>

									<td ng-bind="3*$index+3"></td>
									<td ng-bind="r.items[3*$index+2].CODE"></td>
									<td><span ng-if="r.items[3*$index+2].STATE" ng-class="{'cst-stop': r.items[3*$index+2].STATE=='2', 'cst-ready': r.items[3*$index+2].STATE=='3', 'cst-normal': r.items[3*$index+2].STATE=='1'}" class="circle"></span></td>

								</tr>								
							</tbody>

						</table>
						</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
    </ion-content>
    <ion-footer-bar>
    	<div style="width: 100%;">
    		<div class="clear footer green-cross color-menu-type">
				
				<div class="twrapper"><div class="type indicator clear">
					<div class="value"><span class="circle cst-stop">&nbsp;</span></div>
					<div class="name">已点检停止运行</div>
				</div></div>
				
				<div class="twrapper"><div class="type indicator clear">
					<div class="value"><span class="circle cst-ready">&nbsp;</span></div>
					<div class="name">已点检待运行</div>
				</div></div>

				<div class="twrapper"><div class="type indicator clear">
					<div class="value"><span class="circle cst-normal">&nbsp;</span></div>
					<div class="name">已点检待正常运行</div>
				</div></div>

			</div>
	    <div class="clear header six tc color-menu-type">
			<div class="twrapper">
				<div class="type two clear">
				<div class="name">编制</div>
				<div class="value">&nbsp;<span ng-bind="metaData.bianzhi"></span></div>
			</div>
			</div>
			<div class="twrapper"><div class="type two clear">
				<div class="name">审核</div>
				<div class="value">&nbsp;<span ng-bind="metaData.shenhe"></span></div>
			</div></div>
			<div class=" twrapper"><div class="type two clear">
				<div class="name">批准</div>
				<div class="value">&nbsp;<span ng-bind="metaData.pizhun"></span></div>
			</div></div>
			<div class=" twrapper"><div class="type two clear">
				<div class="name">日期</div>
				<div class="value">&nbsp;<span ng-bind="metaData.bianzhi_date"></span></div>
			</div></div>

			<div class=" twrapper"><div class="type two clear">
				<div class="name" ng-bind="backupNum+'台'"></div>
				<div class="value">&nbsp;<span>备用设备数量</span></div>
			</div></div>

			<!-- <div class=" twrapper"><div class="type two clear">
				<div class="name">N</div>
				<div class="value">&nbsp;<span>无相关证件</span></div>
			</div></div> -->

			<!-- <div class="twrapper"><div class="type clear">
				<div class="value damage">&nbsp;</div>
				<div class="name">新员工</div>
			</div></div>

			<div class="twrapper"><div class="type clear">
				<div class="value damage">&nbsp;</div>
				<div class="name">离职员工</div>
			</div></div> -->

		</div>
		<div class="quickNav">
			<a ng-click="historyBack()"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
			<a href="#/login-dashboard"><span class="glyphicon glyphicon-home"></span></a>
			<a href="#/settings/"><span class="glyphicon glyphicon-cog"></span></a>
		</div>
	</div>
	</ion-footer-bar>
</ion-view>
