<ion-view hide-nav-bar="true" hide-back-button="true">

	<ion-header-bar align-title="center">
	  	<div></div>
		<div class="title anji-theme" >
			<div class="title-wp" style="background-image: url(img/LOG9.jpg);">
				<div class=" logo-left"><img class="fl" src="img/dazhong.svg"/></div>
				<div class="logo-right-wp"><img src="img/LOG9.jpg"/></div>
				<div>
                    <div class="bold-title single-line">
                        <span class="pageTitle">
                            <span>SFM现场管理信息系统</span><br>
                            <span class="subPageTitle">ShopFloor Management System</span>
                        </span>
                    </div>
                </div>
			</div>
		</div>
	  	<div></div>
	</ion-header-bar>

    <ion-content scroll="false">
	    <div class="entryWp">
        	<a href="#/dash" class="entry-home">
	        	<div class="entry" style="left: 15%;">
		        	<div class="img tc">
		        		<img src="img/svg/view-board.svg"/>
		        	</div>
	        		<span class="number">1</span>
	        		<div class="group">
	        			<div class="eng">TEAMTAFEL</div>
	        			<div class="bold-title">小组信息看板</div>
	        		</div>
	        	</div>
       		</a>
       		<a href="#/view-board" class="entry-home">
	        	<div class="entry" style="right: 15%;">
	        		<div class="img tc">
		        		<img src="img/svg/line-board.svg"/>
		        	</div>
	        		<span class="number">2</span>
	        		<div class="group">
	        			<div class="eng">LINIENTAFEL</div>
	        			<div class="bold-title">生产线信息看板</div>
	        		</div>
	        	</div>
	        </a>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="quickNav">
            <a href="#/login-dashboard"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
            <a href="#/ad/login"><span class="glyphicon glyphicon-log-out"></span></a>
        </div>
    </ion-footer-bar>
</ion-view>
