<ion-view hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar align-title="center">
	  	<div></div>
		<div class="title anji-theme" >
			<div class="title-wp" style="background-image: url(img/LOG9.jpg);">
				<div class=" logo-left"><img class="fl" src="img/dazhong.svg"/></div>
				<div class="logo-right-wp"><img src="img/LOG9.jpg"/></div>
				<div>
					<div class="bold-title single-line">
                        <span class="pageTitle">
                            <span>岗位柔性表</span><br>
                            ( <span class="subPageTitle" ng-bind="selectedCriteria.kuqu.whse_code">仓库代码</span>
							<span class="subPageTitle" ng-bind="'-'+selectedCriteria.banzu.description+'-'">班组</span>
							<span class="subPageTitle" ng-bind="selectedCriteria.banci.shift_code">班次</span> )
                        </span>
                    </div>
				</div>
			</div>
		</div>
	  	<div></div>
	</ion-header-bar>
    <ion-content class="bgFF" style="background: #fff; margin: 0 0.5em;
    border-radius: 0.5em;
    border-radius: 0.5em 0.5em 0 0;
    padding-bottom: 1em;
    margin-bottom: 3.2em;bottom: 4em;">
	    <ion-scroll zooming="true" direction="xy" style="width: 100% ; height: 100%">
    	<div style="height: 100%;  position: relative;">
		    <div class="kqhz gwrx content-wrapper">
		    <span class="anji-theme" style="font-size:0.9em" ng-show="loadingStatus!=''" ng-bind="loadingStatus">加载中</span>
			<table class="gwrxTbl">
				<thead>
				<tr>
					<th ng-repeat="h in headers" ng-bind="h"></th>
				</tr>
				</thead>
				<tbody>
					<tr ng-repeat="r in records track by $index">
						<td ng-repeat = "h in headers track by $index" ng-class="{'bgYellow': r[h].bg=='1', 'bgWhite': r[h].bg=='2', 'bgBlue': r[h].bg=='3'}">
							<span ng-if="r[h].isCertificate" ng-bind="r[h].cert=='1'? 'YES': 'NO'"></span>
							<span ng-if="r[h].isSkill">
								<span ng-if="r[h].skill == '1'">#</span>
								<span ng-if="r[h].skill == '2'"><span class="glyphicon glyphicon-star"></span></span>
								<span ng-if="r[h].skill == '3'"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></span>
								<span ng-if="r[h].skill == '4'"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></span>
							</span>
							<span ng-if="r[h].isVal" ng-bind="r[h].val"></span>
						</td>
					</tr>

				</tbody>
			</table>
			</div>
			<div>
				
			</div>
    	</div>
	 </ion-scroll>
    </ion-content>
    <ion-footer-bar>
	 	<div style="width:100%;">
	 		<div class="clear tl anji-font-color mg-tp-1" style="height: 4em;position: absolute; top: -4em; padding-top: 0.5em; right: 0.5em; margin-top: 0; background: #fff; left: 0.5em;">
				<span class="fl">说明：</span>
				<ol class="fl">
					<li>1. 各类表示符号：不需要掌握<span>#</span>、需指导完成<span class="glyphicon glyphicon-star"></span>、能独立完成<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>、能培训他人<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>、有相关证件<span class="">YES</span>、无相关证件<span class="">NO</span></li>
					<li><span>2. </span>

					<div class="twrapper" style="display: inline-block;margin-right:1em;    vertical-align: bottom;"><div class="type two clear">
						<div class="name" >
							<span class="fl mg-rt-1 green-indicator" style="border-radius: 0.5em;background: #fff; border: 0.2em solid;">&nbsp;</span>
							<span class="fl value damage">满足岗位要求</span>
						</div>
					</div></div>

					<div class="twrapper" style="display: inline-block;margin-right:1em;    vertical-align: bottom;"><div class="type two clear">
						<div class="name" >
							<span class="fl mg-rt-1 green-indicator" style="border-radius: 0.5em;background-color: yellow;">&nbsp;</span>
							<span class="fl value damage">低于岗位要求</span>
						</div>
					</div></div>

					<div class="twrapper" style="display: inline-block;vertical-align: bottom;"><div class="type two clear">
						<div class="name red">
							<span class="fl mg-rt-1 red-indicator" style="border-radius: 0.5em;background-color: #12AAEB;">&nbsp;</span>
							<span class="fl value damage">超出岗位要求</span>
						</div>
					</div></div></li>
				</ol>
			</div>
			<div style="clear:both;"></div>
    	
	    <div class="clear header six tc color-menu-type">
			<div class="twrapper">
				<div class="type two clear">
				<div class="name">编制</div>
				<div class="value">&nbsp;<span ng-bind="metaData.bianzhi"></span></div>
			</div>
			</div>
			<div class="twrapper"><div class="type two clear">
				<div class="name">审核</div>
				<div class="value">&nbsp;<span ng-bind="metaData.shenhe"></span></div>
			</div></div>
			<div class=" twrapper"><div class="type two clear">
				<div class="name">批准</div>
				<div class="value">&nbsp;<span ng-bind="metaData.pizhun"></span></div>
			</div></div>
			<div class=" twrapper"><div class="type two clear">
				<div class="name">日期</div>
				<div class="value">&nbsp;<span ng-bind="metaData.bianzhi_date"></span></div>
			</div></div>

			<!-- <div class=" twrapper"><div class="type two clear">
				<div class="name">Y</div>
				<div class="value">&nbsp;<span>有相关证件</span></div>
			</div></div>

			<div class=" twrapper"><div class="type two clear">
				<div class="name">N</div>
				<div class="value">&nbsp;<span>无相关证件</span></div>
			</div></div> -->

			<!-- <div class="twrapper"><div class="type clear">
				<div class="value damage">&nbsp;</div>
				<div class="name">新员工</div>
			</div></div>

			<div class="twrapper"><div class="type clear">
				<div class="value damage">&nbsp;</div>
				<div class="name">离职员工</div>
			</div></div> -->

		</div>
		<div class="quickNav">
			<a href="#/dash"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
			<a href="#/entry"><span class="glyphicon glyphicon-home"></span></a>
			<a href="#/settings/"><span class="glyphicon glyphicon-cog"></span></a>
		</div>
		</div>
	</ion-footer-bar>
</ion-view>
