<ion-view hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar align-title="center">
	  	<div></div>
		<div class="title anji-theme">
			<div class="title-wp">
				<div class=" logo-left"><img class="fl" src="img/logo1.jpg"/></div>
				<div class="fr logo-right-wp"><img src="img/ANJI.jpg"/><img src="img/CEVA.svg"/></div>
				<div>
			  		<div class="bold-title single-line">
			  			<span class="mainTitle">KPI跟踪</span>
						<div class="subTitle">
				  			<span ng-bind="selectedCriteria.kuqu?selectedCriteria.kuqu.whse_name+'-':''"></span>
				  			<span ng-bind="selectedCriteria.banzu?selectedCriteria.banzu.description+'-':''"></span>
				  			<span ng-bind="selectedCriteria.banci?selectedCriteria.banci.description:''"></span></div>
						</div>
						
				</div>
			</div>

		</div>
	  	<div></div>
	</ion-header-bar>
    <ion-content scroll="false">
	    <div class="kpiGroup tc" style="position: absolute; width: 100%; height: 100%;">
	    	<div class="center">
	    		<img src="img/3.svg">
	        	<a ng-click="goDetail(kpi.type, kpi.PageType)" ng-repeat="kpi in kpis" class="kpi {{kpi.type}}" ng-bind="kpi.name"></a>
	    	</div>
	    </div>
		<div class="quickNav" style="bottom: 0;">
			<a href="#/dash"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
			<a href="#/entry"><span class="glyphicon glyphicon-home"></span></a>
		</div>
    </ion-content>
    <ion-footer-bar>
	</ion-footer-bar>
</ion-view>
