<ion-view on-double-click="goHome()" hide-nav-bar="true" hide-back-button="true">
  <ion-header-bar align-title="center" class="">
    <h1 class="title">第三方物流KPI样图</h1>
  </ion-header-bar>
  <ion-content>
	
  </ion-content>
</ion-view>



<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pdivls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view on-double-click="goHome()" hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar align-title="center">
        <div></div>
        <div class="title anji-theme">
            <div class="title-wp">
                <div class=" logo-left"><img class="fl" src="img/logo1.jpg"/></div>
                <div class="fr logo-right-wp"><img src="img/LOG9.jpg"/></div>
                <div>
                    <div class="bold-title single-line">
                        <span class="mainTitle" ng-bind="KPITitle"></span>
                        <span class="subTitle">
                            (<span ng-bind="selectedCriteria.kuqu.whse_name">仓库代码</span>-
                            <span ng-bind="selectedCriteria.banzu.description">班组</span>
                            <span ng-hide="aspect=='member'" ng-bind="selectedCriteria.banci.description">班次</span>)
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div></div>
    </ion-header-bar>
    <ion-content scroll="false" class="bgFF padding kpiChart" style="background: #FFF;    margin-bottom: 3em;">
        
       <kao-qin-chart data="chart.data" ylabel="{{chart.yLabel}}" title="{{chart.title}}"></kao-qin-chart>
    </ion-content>
    <ion-footer-bar class="clear" style="">
    <div class="clear header tc color-menu-type" style="    width: 100%; position: absolute; left: 0; bottom: 0;">
        <div class="twrapper">
            <div class="type two clear">
            <div class="name">编制</div>
            <div class="value">&nbsp;<span ng-bind="metaData.bianzhi"></span></div>
        </div>
        </div>
        <div class="twrapper"><div class="type two clear">
            <div class="name">审核</div>
            <div class="value">&nbsp;<span ng-bind="metaData.shenhe"></span></div>
        </div></div>
        <div class=" twrapper"><div class="type two clear">
            <div class="name">批准</div>
            <div class="value">&nbsp;<span ng-bind="metaData.pizhun"></span></div>
        </div></div>
        <div class=" twrapper"><div class="type two clear">
            <div class="name">日期</div>
            <div class="value">&nbsp;<span ng-bind="metaData.bianzhi_date"></span></div>
        </div></div>
    </div>
    <div class="clear"></div>
    <div class="quickNav">
        <a ng-click="historyBack()"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
        <a href="#/entry"><span class="glyphicon glyphicon-home"></span></a>
    </div>
  </ion-footer-bar>
</ion-view>
