<ion-view on-double-click="goHome()" hide-nav-bar="true" hide-back-button="true">
  <ion-header-bar align-title="center" class="">
    <h1 class="title">第三方物流KPI样图</h1>
  </ion-header-bar>
  <ion-content>
	
  </ion-content>
</ion-view>



<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pdivls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view on-double-click="goHome()" hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar align-title="center">
        <div></div>
        <div class="title anji-theme">
            <div class="title-wp">
                <div class=" logo-left"><img class="fl" src="img/logo1.jpg"/></div>
                <div class="fr logo-right-wp"><img src="img/LOG9.jpg"/></div>
                <div>
                    <div class="bold-title single-line">
                        <span class="mainTitle" ng-bind="KPITitle"></span>
                        <span class="subTitle">
                            (<span ng-bind="selectedCriteria.kuqu.whse_code">仓库代码</span>-
                            <span ng-bind="selectedCriteria.banzu.description">班组</span>-
                            <span ng-hide="aspect=='member'" ng-bind="selectedCriteria.banci.shift_code">班次</span>)
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div></div>
    </ion-header-bar>
    <ion-content scroll="false" class="bgFF padding kpiChart" style="background: #FFF;    margin-bottom: 3em;">
        
       <kao-qin-chart data="chart.data" isRate="chart.isRate" ylabel="{{chart.yLabel}}" title="{{chart.title}}"></kao-qin-chart>
       <!-- DropDown -->
       <div class="twrapper kpiDropType">
            <div class="type an-dropdown clear" ng-class="{open: chartTypeDropdown.isOpen}">
                <!-- <div class="name">库区</div> -->
                <div class="value" 
                ng-click="chartTypeDropdown.open()" >
                    <span ng-bind="chartTypeDropdown.option.value"></span>
                    <span class="glyphicon glyphicon-chevron-up" style="    position: absolute; top: 0.65em; right: 0.5em;"></span>
                </div>
                
                <div class="an-select">
                    <div class="value" ng-click="chartTypeDropdown.selectOption(tp)" ng-repeat="tp in chartTypeDropdown.items" ng-bind="tp.value"></div>
                </div>
            </div>
        </div>
 <!--       <div class="type an-dropdown clear" ng-class="{open: chartTypeDropdown.isOpen}">
            <div class="value" ng-click="chartTypeDropdown.open()" ng-bind="chartTypeDropdown.option.value"></div>
            <div class="option" ng-class="{visHide: (!kuqus || kuqu.length<=1)}" ng-click="kqDropdown.open()">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            <div class="an-select">
                <div class="value" ng-click="chartTypeDropdown.selectOption(tp)" ng-repeat="tp in chartTypeDropdown.items" ng-bind="tp.value"></div>
            </div>
        </div> -->
    </ion-content>
    <ion-footer-bar class="clear" style="">
    <div class="clear header tc color-menu-type" style="    width: 100%; position: absolute; left: 0; bottom: 0;">
        <div class="twrapper">
            <div class="type two clear">
            <div class="name">编制</div>
            <div class="value">&nbsp;<span ng-bind="metaData.bianzhi"></span></div>
        </div>
        </div>
        <div class="twrapper"><div class="type two clear">
            <div class="name">审核</div>
            <div class="value">&nbsp;<span ng-bind="metaData.shenhe"></span></div>
        </div></div>
        <div class=" twrapper"><div class="type two clear">
            <div class="name">批准</div>
            <div class="value">&nbsp;<span ng-bind="metaData.pizhun"></span></div>
        </div></div>
        <div class=" twrapper"><div class="type two clear">
            <div class="name">日期</div>
            <div class="value">&nbsp;<span ng-bind="metaData.bianzhi_date"></span></div>
        </div></div>
    </div>
    <div class="clear"></div>
    <div class="quickNav">
        <a ng-click="historyBack()"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
        <a href="#/entry"><span class="glyphicon glyphicon-home"></span></a>
        <a href="#/settings"><span class="glyphicon glyphicon-cog"></span></a>
    </div>
  </ion-footer-bar>
</ion-view>
