<ion-view hide-nav-bar="true" hide-back-button="true">
	<ion-header-bar align-title="center">
	  	<div></div>
		<div class="title anji-theme"  style="overflow: visible">
			<div class="title-wp" style="background-image: url(img/LOG9.jpg);">
				<div class=" logo-left"><img class="fl" src="img/dazhong.svg"/></div>
				<div class="logo-right-wp"><img src="img/LOG9.jpg"/></div>
				<div>
			  		<div class="bold-title single-line">
			  			<div style="height: 100%; display: inline-block; position: relative;">
				  			<span class="pageTitle">
	                            <span>考勤汇总</span><br>
	                            ( <span class="subPageTitle" ng-bind="selectedCriteria.kuqu.whse_code">仓库代码</span>
								<span class="subPageTitle" ng-bind="'-'+selectedCriteria.banzu.description+'-'">班组</span>
								<span class="subPageTitle" ng-bind="selectedCriteria.banci.shift_code">班次</span> )
	                        </span>
				  			<div class="kq-date-picker" ng-class="{active: selectPickerOpen}" style=" position: absolute; top: -0.25em; left: 110%; font-size: 0.8em;">
							<span ng-click="openPicker()" style="    width: 100%; height: 3em; text-align: center; line-height: 3em; display: inline-block;" ng-bind="selectedYear+' 年 '+selectedMonth+' 月 '"></span>
							<label class="item item-input">
							  <span class="input-label" style="padding:0;">选择日期</span>
							  <input style="padding: 0;" class="text-align: center;" type="month" id="selectedMonth" value="{{selectedYear+'-'+selectedMonth}} "/>
							</label>
							<div style="font-size: 0.6em; margin-top: 0.5em;">
								<span class="email glyphicon glyphicon-envelope" ng-click="sendPicker(true)"></span>
								<span class="kq-sure" ng-click="sendPicker()">确定</span>
								<span class="kq-cancel" ng-click="closePicker()">取消</span>
							</div>
						</div>
						</div>
			  		</div>
				</div>
			</div>

		</div>
	  	<div></div>
	</ion-header-bar>
    <ion-content class="bgFF" style=" border-radius: 0.5em 0.5em 0 0;
    bottom: 11.3em;background: #fff; margin: 0 0.5em;">
    	
		<div class="kqhz content-wrapper" style="">
			<table>
				<thead><th class="tc" ng-repeat="h in headers track by $index" ng-bind="h"></th></thead>
				<tbody><tr ng-repeat="r in data">
					<td ng-bind="r['工号']"></td>
					<td ng-class="{isNew: r.Is_new=='是', isDisableMember: r.Is_disabled=='否'}" ng-bind="r['姓名']"></td>
					<td ng-repeat="d in daysArr">
						<span ng-if="clzMap[r[d]] != 'hurt' && clzMap[r[d]] != 'absent'" class="{{clzMap[r[d]]}}"></span>
						<span ng-if="clzMap[r[d]] == 'hurt'">#</span>
						<span ng-if="clzMap[r[d]] == 'absent'">※</span>
					</td>
					</tr>
				</tbody>
			</table>
			<div ng-show="loadingStatus!=''" class="mg-tp-1 anji-theme loadingDiv" ng-bind="loadingStatus">加载中</div>
		</div>
    </ion-content>
    <ion-footer-bar>
		<div class="clear tl anji-font-color mg-tp-1" style="height: 8em;position: absolute; top: -8em; padding-top: 0.5em; right: 0.5em; margin-top: 0; background: #fff; left: 0.5em;">
			<span class="fl">说明：</span>
			<ol class="fl">
				<li>1. 部门考勤员应认真做好考勤统计工作，如实反映情况，不得弄虚作假</li>
				<li>2. 各类假期表示符号：缺勤<span>※</span>、出勤<span class="glyphicon glyphicon-ok"></span>、病假<span class="circle anjie-border"></span>、事假<span class="glyphicon glyphicon-remove"></span>、产假<span class="glyphicon glyphicon-star-empty"></span>、探亲<span class="rect"></span>、公假<span class="anjie-bg circle anjie-border"></span>、公出<span class="glyphicon glyphicon-record"></span>、旷工<span class="glyphicon glyphicon-triangle-top"></span>、生产性放班<span class="glyphicon glyphicon-asterisk"></span>、年休假<span class="rect half"><span></span></span>、工伤<span>#</span>、培训<span class="glyphicon glyphicon-triangle-bottom"></span>、借调<span class="glyphicon glyphicon-star"></span></li>
				<li><span>3. </span>
				<div class="twrapper" style="display: inline-block;margin-right:1em;    vertical-align: bottom;"><div class="type two clear">
					<div class="name" >
						<span class="fl mg-rt-1 green-indicator">&nbsp;</span>
						<span class="fl value damage">新员工</span>
					</div>
				</div></div>

				<div class="twrapper" style="display: inline-block;vertical-align: bottom;"><div class="type two clear">
					<div class="name red">
						<span class="fl mg-rt-1 red-indicator">&nbsp;</span>
						<span class="fl value damage">离职员工</span>
					</div>
				</div></div></li>
			</ol>
		</div>
	    <div class="clear header six tc color-menu-type">
			<div class="twrapper">
				<div class="type two clear">
				<div class="name">编制</div>
				<div class="value">&nbsp;<span ng-bind="metaData.bianzhi"></span></div>
			</div>
			</div>
			<div class="twrapper"><div class="type two clear">
				<div class="name">审核</div>
				<div class="value">&nbsp;<span ng-bind="metaData.shenhe"></span></div>
			</div></div>
			<div class=" twrapper"><div class="type two clear">
				<div class="name">批准</div>
				<div class="value">&nbsp;<span ng-bind="metaData.pizhun"></span></div>
			</div></div>
			<div class=" twrapper"><div class="type two clear">
				<div class="name">日期</div>
				<div class="value">&nbsp;<span ng-bind="metaData.bianzhi_date"></span></div>
			</div></div>

		</div>
		<div class="quickNav">
			<a href="#/dash"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
			<a href="#/login-dashboard"><span class="glyphicon glyphicon-home"></span></a>
			<a href="#/settings/"><span class="glyphicon glyphicon-cog"></span></a>
		</div>
	</ion-footer-bar>
</ion-view>
