<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pdivls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view on-double-click="goHome()" hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar align-title="center">
        <div></div>
        <div class="title anji-theme" >
            <div class="title-wp" style="background-image: url(img/LOG9.jpg);">
                <div class=" logo-left"><img class="fl" src="img/dazhong.svg"/></div>
                <div class="logo-right-wp"><img src="img/LOG9.jpg"/></div>
                <div>
                    <div class="bold-title single-line" style="line-height: 3em;">
                        <span style="font-size: 1.2em">设置</span>
                    </div>
                </div>
            </div>

        </div>
        <div></div>
    </ion-header-bar>
    <ion-content class="padding" style="margin: 0 0.5em; border-radius: 0.5em;">
        <div style="color: #FFF;">
            <p>
                <h3>服务器地址
                    <button ng-hide="isModify" class="btn btn-default" ng-click="openModify()" type="submit">点击修改</button>
                    <button ng-show="isModify" ng-click="modify(settings.serverURL)" class="btn btn-danger" type="submit">保存</button>
                    <button ng-show="isModify" class="btn btn-default" ng-click="cancelModify()" type="submit">取消</button>
                </h3>
                <span ng-bind="serverAddr"></span>
                <input ng-show="isModify" value="{{getURL()}}" ng-model="settings.serverURL" style="width: 100%;padding: 0.5em;" type="text" />
            </p>
        </div>
        <div style="color: #FFF;">
            <p>
                <h3>图片轮播时间
                    <button ng-hide="isIntervalModify" class="btn btn-default" ng-click="openIntervalModify()" type="submit">点击修改</button>
                    <button ng-show="isIntervalModify" ng-click="modifyInterval(settings.editInterval)" class="btn btn-danger" type="submit">保存</button>
                    <button ng-show="isIntervalModify" class="btn btn-default" ng-click="cancelIntervalModify()" type="submit">取消</button>
                </h3>
                <span ng-bind="(settings.editInterval?settings.editInterval:1)+'秒'"></span>
                <div ng-show="isIntervalModify" class="item range" style="width: 10em; height: 3em; padding: 0;">
                  <!-- <i class="icon ion-clock" style="color: gray;"></i>
                  <input type="range" name="timeInterval" value="{{getInterval()}}" ng-model="settings.editInterval" min="2" max="60">
                  <i class="icon ion-clock"></i> -->

                  <label class="item item-input" style="padding: 0;border: 0;width: 100%;">
                      <!-- <span class="input-label">Number</span> -->
                      <input name="timeInterval" value="{{getInterval()}}"  style="    margin: 0; padding: 0 1em; text-align: center; background: #FFF;"
                        ng-model="settings.editInterval" type="number">
                  </label>

                </div>
            </p>
        </div>

        <div style="color: #FFF;">
            <p>
                <h3>图片目录
                    <button class="btn btn-default" ng-click="goToFolderSelector()" type="submit">点击选择</button>
                </h3>
                <span ng-bind="settings.imagePath.name"></span>
            </p>
        </div>

        <div style="color: #FFF;">
            <p>
                <h3>版本更新<span style="font-size:0.55em" ng-bind="'   当前版本'+appVersion"></span></h3>
                <button ng-hide="hasNewVersion" ng-bind="checkVersionText" class="btn btn-default" ng-click="checkVersion()">检查更新</button>
            </p>
            <span ng-show="hasNewVersion">有新的版本，
            <a href="#" ng-click="launchNavigator(apkURL)"
                style="color: #18E586;text-decoration: underline;">点击下载{{apkURL}}</a>
        </div>

    </ion-content>
    <ion-footer-bar style="height: 4em;">
    
        <div class="quickNav">
            <a ng-click="back()"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
            <a href="#/entry"><span class="glyphicon glyphicon-home"></span></a>
            <!-- <a href="#/settings/"><span class="glyphicon glyphicon-cog"></span></a> -->
        </div>
  </ion-footer-bar>
</ion-view>
