<div class="org-chart cf" style="height: 100%;    padding-top: 3em;">
    <span class="orgTitle" ng-bind="selectedCriteria.banci.shift_code"></span>
    <div class="director memeber" ng-class="{odd : oddTeam, one: subTeams.length==0}" style="height: 20%;">
        <div style="background: url();height: 90%;">
            <div class="section" >
                <div ng-class="{isNew: group.leader.Is_new=='是'}" class="newOrOld"><span class="glyphicon glyphicon-star"></span></div>
                <img ng-src="{{group.leader.Picture}}" />
                <div class="name">
                    <span ng-bind="group.leader.Employee_name"></span>
                    <span ng-bind="group.leader.Telephone"></span>
                </div>
                <div class="job">
                    <span ng-bind="group.leader.Job"></span>
                    <span class="member-status v{{group.leader.DutyState}}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="member-wp" style="height: 80%;">
        <div>
            <div ng-repeat="sub in subTeams" ng-class="{two: subTeams.length==1,left: ($index+1)<((subTeams.length+1)/2), right: ($index+1)>((subTeams.length+1)/2), center: ($index+1)==((subTeams.length+1)/2)}" class="members cf">
                <div ng-repeat="m in sub" class="sub">
                    <div  class="section">
                        <div ng-class="{isNew: m.Is_new=='是'}" class="newOrOld"><span class="glyphicon glyphicon-star"></span></div>
                        <img ng-src="{{m.Picture}}" />
                        <div class="name">
                            <span ng-bind="m.Employee_name"></span>
                            <span ng-bind="m.Telephone"></span>
                        </div>
                        <div class="job">
                            <span ng-bind="m.Job"></span>
                            <span class="member-status v{{m.DutyState}}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear footer green-cross color-menu-type" style="    margin-top: 0.5em;">
    <div class="twrapper" style="padding:0"><div class="type indicator clear">
        <div class="value no-acc">&nbsp;</div>
        <div class="name">出勤</div>
    </div></div>

    <div class="twrapper" style="padding:0"><div class="type indicator clear">
        <div class="value danger">&nbsp;</div>
        <div class="name">培训</div>
    </div></div>

    <div class="twrapper" style="padding:0"><div class="type indicator clear">
        <div class="value damage">&nbsp;</div>
        <div class="name">借调</div>
    </div></div>

    <div class="twrapper" style="padding:0"><div class="type indicator clear">
        <div class="value supplier">&nbsp;</div>
        <div class="name">缺勤</div>
    </div></div>
</div>