<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar align-title="center">
        <single-title title="登录权限"></single-title>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="entryWp ad-sub-permission">
            <div class="tc">
                <a ng-repeat="m in menus" ng-if="menuConfig[m].show" ng-href="#/ad/{{m}}" class="entry-home">
                    <div class="entry">
                        <div class="img tc">
                            <img ng-src="img/ad/ad-permission-{{m}}.png" />
                        </div>
                        <div class="group">
                            <h2 ng-bind="menuConfig[m].enName"></h2>
                            <p ng-bind="menuConfig[m].name"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="quickNav">
            <a href="#/login-dashboard"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
            <a href="#/ad/login"><span class="glyphicon glyphicon-log-out"></span></a>
        </div>
    </ion-footer-bar>
</ion-view>
