<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar align-title="center">
        <single-title title="登录权限"></single-title>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="entryWp ad-sub-permission">
            <div>
                <a href="#/ad/xiajia" class="entry-home">
                    <div class="entry">
                        <div class="img tc">
                            <img src="img/ad/ad-permission-off.png" />
                        </div>
                        <div class="group">
                            <h2>off the shelf</h2>
                            <p>下架</p>
                        </div>
                    </div>
                </a>
                <a href="#/dash" class="entry-home">
                    <div class="entry">
                        <div class="img tc">
                            <img src="img/ad/ad-permission-start.png" />
                        </div>
                        <div class="group">
                            <h2>on-line</h2>
                            <p>上线</p>
                        </div>
                    </div>
                </a>
                <a href="#/dash" class="entry-home">
                    <div class="entry">
                        <div class="img tc">
                            <img src="img/ad/ad-permission-pull.png" />
                        </div>
                        <div class="group">
                            <h2>kick-start</h2>
                            <p>拉动</p>
                        </div>
                    </div>
                </a>
                <a href="#/ad/member" class="entry-home">
                    <div class="entry">
                        <div class="img tc">
                            <img src="img/ad/ad-permission-member.png" />
                        </div>
                        <div class="group">
                            <h2>turnover</h2>
                            <p>人员调整</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
