<ion-view hide-nav-bar="true" hide-back-button="true">

  <ion-header-bar align-title="center">
        <single-title title="登录权限"></single-title>
    </ion-header-bar>

    <ion-content scroll="false">
        <div class="entryWp ad-sub-permission login-dashboard">
            <div>
            <a href="#/entry" class="entry-home">
                <div class="entry" style="left: 15%;">
                    <div class="img tc">
                        <img src="img/ad/login-sfm.png"/>
                    </div>
                    <div class="group">
                        <span class="number">SFM</span>
                    </div>
                </div>
            </a>
            <a href="#/ad/sub-permssion" class="entry-home">
                <div class="entry" style="right: 15%;">
                    <div class="img tc">
                        <img src="img/ad/login-ad.png"/>
                    </div>
                    <div class="group">
                        <span class="number">AD Boadrd</span>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </ion-content>
</ion-view>
