<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar align-title="center">
        <single-title title="编组系统"></single-title>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="entryWp login-dashboard">
            <div>
                <div class="login">
                    <div class="form-wpr">
                        <form ng-submit="login()" >
                            <table>
                                <tr><td style="width: 5em;" class="tl input-lable">
                                    <label>用户名</label>
                                </td><td>
                                    <div class="field-wpr">
                                        <div class="input-wpr">
                                            <input type="text" placeholder="请输入用户名" ng-model="params.name">
                                        </div>
                                    </div>
                                </td></tr>
                                <tr><td class="tl input-lable">
                                    <label>密码</label>
                                </td><td>
                                    <div class="field-wpr">
                                        <div class="input-wpr">
                                            <input type="password" placeholder="请输入登录密码" ng-model="params.pwd">
                                        </div>
                                    </div>
                                </td></tr>
                                <tr><td colspan="2">
                                    <div class="msg error" ng-if="errorMsg" ng-bind="errorMsg"></div>
                                    <button type="submit" id="submit" class="btn btn-primary">登录</button>
                                </td></tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="quickNav">
        <a href="#/settings/"><span class="glyphicon glyphicon-cog"></span></a>
    </div>
</ion-view>
