<ion-view hide-nav-bar="true" hide-back-button="true">
    <ion-header-bar align-title="center">
        <single-title title="线边拉动"></single-title>
    </ion-header-bar>
    <ion-content>
        <div style="display: block; bottom: 3.5em; width: 100%; height: 100%;">
            <div class="clear pull" style="height: 100%; padding-top: 2em;">
                <p ng-if="errorMsg" ng-bind="errorMsg"></p>
                <div ng-repeat="m in menus" class="bz-menu col-3-2">
                    <a ng-click="showConfirmPull(m)">
                        <div class="list card" ng-class="{active: m.isPulling}">
                            <div>
                                <div>
                                    <span class="itemCode" ng-bind="m.itemCode"></span>
                                    <span class="routeCode" ng-bind="m.routeCode"></span>
                                    <span class="lsa" ng-bind="m.lsa"></span>
                                    <span class="nickName" ng-bind="m.nickName"></span>
                                    <span class="count" ng-bind="'当天拉动'+(m.pullCount?m.pullCount:0) +'次'"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </ion-content>
    <ion-footer-bar>
        <div class="pull-histroy">
            <button ng-click="goPullHistory()" class="button button-light">拉动历史查询</button>
        </div>
        <div class="quickNav">
            <a ng-click="getList()"><span class="glyphicon glyphicon glyphicon-repeat"></span></a>
            <a href="#/ad/sub-permssion"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
            <a href="#/login-dashboard"><span class="glyphicon glyphicon-home"></span></a>
            <a href="#/ad/login"><span class="glyphicon glyphicon-log-out"></span></a>
        </div>
    </ion-footer-bar>
</ion-view>
